@font-face {
    font-family: 'Altair-Bold';
    src: url('../../../font/Altair-Bold.eot'); /* IE9 Compat Modes */
    src: url('../../../font/Altair-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../../font/Altair-Bold.woff') format('woff'), /* Pretty Modern Browsers */
            url('../../../font/Altair-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('../../../font/Altair-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}


// @font-face {
//     font-family: 'Altair-Bold';
//     src: url('../../../font/altair-bold-webfont.woff2') format('woff2'),
//          url('../../../font/altair-bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }